*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding-top: 60px;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-row{
  display: flex;
  flex-wrap: wrap;
}
.form-column {
  flex: 1;
  max-width: 600px;
}

.header{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.header .lead {
  font-size: 20px;
  font-weight: 600;
}
.status-message {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
}

.form-group{
  margin-bottom: 20px;
  /* display: flex;
  flex-direction: column; */
}

.input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* .form-label{
  position: absolute;
  top: 10px;
  left: 0;
  padding: 10px;
  color: #666;
  pointer-events: none;
  transition: all 0.3s ease;
} */
 .options {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
 }
 .checkbox-group {
   display: flex;
   align-items: center;
 }


.checkbox-input {
  margin-right: 10px;
}

.forgot-password {
  color: #007bff;
  text-decoration: none;
}

.submit-section {
  text-align: center;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.login-prompt {
  margin-top: 10px;
}

.login-link {
  color: #dc3545;
  text-decoration: none;
}

.image-column {
  flex: 1;
  max-width: 700px;
}
.form-image {
  width: 100%;
  height: auto;
}
